@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Jua";
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/Jua/Jua-Regular.ttf);
  }
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/Poppins/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    src: url(./fonts/Poppins/Poppins-Bold.ttf);
  }
}

@layer utilities {
  .container {
    @apply m-auto px-8 py-8 lg:px-36 lg:py-0;
  }
  .section {
    @apply container flex flex-col justify-center;
  }
  .list-project {
    @apply flex cursor-pointer flex-col items-center justify-center gap-6 hover:animate-shadow-pop;
  }
  .content {
    @apply after:absolute after:-bottom-1 after:left-0 after:w-full after:rounded-full after:border-b-4 after:border-b-blue after:transition after:duration-500 after:ease-in-out after:content-[''];
  }
  .point {
    @apply before:absolute before:-bottom-4 before:left-1/2 before:h-2 before:w-2 before:-translate-x-1/2 before:transform before:rounded-full before:bg-blue before:content-[''];
  }
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "poppins";
  scroll-behavior: smooth;
  color: #f6eee3;
  background-color: #2a2722;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
